@inject GlamCentral.Libraries.Login.LoginFuncionario funcionario

<!DOCTYPE html>

<html lang="pt-br">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<meta name="description" content="Glam Central - Salão de Beleza">
	<meta name="author" content="Mariana Antunes">
	<link rel="stylesheet" href="/resources/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/resources/lib/caroussel/carousel.css" />
	<link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/css/ui.css" />
	<link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/css/responsive.css" media="only screen and (max-width: 1200px)" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/StyleSheet.css" />
	<link href="~/resources/lib/pagedList/PagedList.css" rel="stylesheet" type="text/css" />
	<link href="/resources/lib/FullCalendar/bootstrap-4.17.47/css/fullcalendar.min.css" rel="stylesheet" />
	<link href="/resources/lib/FullCalendar/bootstrap-4.17.47/css/fullcalendar.print.css" rel="stylesheet" media="print" />
	<link href="/resources/lib/FullCalendar/bootstrap-4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body>
	@if (ViewBag.ShowTopBar ?? true)
	{
		<header>
			<vc:menu></vc:menu>
		</header>
	}
	<div class="col-md-8 table-center">
		@RenderBody()
	</div>
	@{
		/*if (ViewBag.ShowTopBar ?? true)
		{
		<!-- FOOTER -->
		<footer class="footer">
		<p>&copy; 2020-@DateTime.Now.Year Glam Central.</p>
		</footer>
		}*/
	}

	<script src="/resources/lib/holder/holder.min.js"></script>
	<script src="/resources/lib/mask/jquery.mask.min.js"></script>
	<script src="/resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
	<script src="/resources/lib/popper1.14.6/popper.min.js"></script>
	<script src="/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
	<script>window.jQuery || document.write('<script src="/resources/lib/jquery3.3.1/jquery-3.3.1.min.js"><\/script>')</script>
	<script src="~/js/Home.js"></script>
	<script src="/resources/lib/FullCalendar/js/moment.min.js"></script>
	<script src="/resources/lib/FullCalendar/js/fullcalendar.min.js"></script>
	<script type="text/javascript" src="/resources/lib/FullCalendar/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<script src="~/js/Agenda.js" defer></script>
	<script src="~/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	@RenderSection("Scripts", false)
</body>
</html>
