@{
    var subMenu = ViewData["subMenu"];
    var opcoes = new List<string> { "Financeiro", "Vendas" };
}
@if ((string)subMenu == "Relatórios")
{
    <li class="dropdownL-submenu">
        <a class="dropdown-item" tabindex="-1" href="#">@subMenu</a>
        <ul class="dropdown-menu">
            @foreach (var item in opcoes)
            {
                <li class="dropdown-item"><a asp-action="Relatorio" asp-controller="Home">@item</a></li>
            }
        </ul>
    </li>
}
else
{
    <li class="dropdown-item"><a asp-action="Index" asp-controller="Agenda" style="color: black;">@subMenu</a></li>
}