@model GlamCentral.Models.Procedimento

@{
    ViewData["Title"] = "Cadastrar Procedimento";
}

<div col-md-4>
    <br />
    <br />
    <br />
    <h1 class="title-generic">@ViewData["Title"]</h1>
    <br />
    <form method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" placeholder="Digite o nome">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="ProdutosId"></label>
            <select asp-for="ProdutosId" class="form-control" asp-items="@ViewBag.Produtos">
                <option value="">Selecione</option>
            </select>
            <span asp-validation-for="ProdutosId" class="text-danger"></span>
        </div>

        <div class="form-group in-row col-md-50">
            <div class="form-group col-md-2">
                <label asp-for="Duracao"></label>
                <input asp-for="Duracao" class="form-control" onclick="$(this).mask('00:00')" placeholder="0">
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <div style="margin-left: 30px;">
                    <div class="form-group col-md-35">
                        <label asp-for="Valor"></label>
                        <div class="input-group mb-12">
                            <div class="input-group-prepend">
                                <div class="input-group-text">R$</div>
                            </div>
                            <input asp-for="Valor" class="form-control dinheiro" placeholder="00,00" onclick="$(this).mask('#.##0,00', { reverse: true });" />
                        </div>
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-1" style="margin-left: 30px;">
            <label asp-for="Status"></label>
            <input asp-for="Status" type="checkbox" class="bigger-checkbox" checked="checked" />
        </div>
        <button type="submit" class="btn btn-primary btn-default btn-blue">Salvar</button> <a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>
</div>

